#[crate_type = "bin"]

extern mod std;

use daily::*;

mod daily;
mod misc;

fn main() {
    if os::args().len() != 2 {
        fail!(~"usage: " + os::args()[0] + " <file>");
    }
    let records = load_daily_from_file(&path::Path(os::args()[1]));
    for records.each |&r| {
        io::println(r.to_str());
    }
}
